.antLayoutSider {
  position: sticky !important;
  overflow: auto;
  height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;
}

.siderWrapper {
  width: 100%;
  padding: 16px 0 48px 0;
}

.siderWrapper .siderHeader {
  display: block;
  font-size: 1.5em;
  font-family: "Trebuchet MS", sans-serif;
  line-height: 32px;
  letter-spacing: 2px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  margin: 0 16px 16px 16px;
  border-radius: 8px;
}